.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;

}

.error {
    color: red;
    margin-top: 15px;
}

.input-group {
    max-width: 300px;
    margin-top: 15px;
}

.button-primary {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;

}